# Machine learning concepts and project
Import the data -> export the data, and
Clean the data -> duplicate data, irrelevant, text based, incomplete
Spilt the data into teaing/test sets
Create a model -> select algorithms to analyse the data
Train a model -> feed a training data
Make predictions -> predict the result.
Evaluate and Improve -> improve predicitions. '''

# A real problem: Project - Music Streaming

In [3]:
'''
problem statement: 
The age between 20-25 likes HIPHOP -> MALE 
The age between 20-25 likes DANCE -> FE_MALE 

after appliying model given new data points to predict the output:
    eg: age 21 MALE Should predict as HIPHOP (evnthough the age 21 is missing in the dataset)
'''

'\nproblem statement: \nThe age between 20-25 likes HIPHOP -> MALE \nThe age between 20-25 likes DANCE -> FE_MALE \n\nafter appliying model given new data points to predict the output:\n    eg: age 21 MALE Should predict as HIPHOP (evnthough the age 21 is missing in the dataset)\n'

In [4]:
import pandas as pd
# PACKAGE.MODEULE IMPORT CLASS
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

music_data = pd.read_csv('music.csv')
music_data.head(5)

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1   Jazzz
4   29       1   Jazzz

In [5]:
print(music_data.shape)
music_data.describe()
music_data.columns

(18, 3)

Index(['age', 'gender', 'genre'], dtype='object')

In [6]:
# split the data: last column is output.
input_data = music_data.drop(columns=['genre'])  # original data won't modify
output_data = music_data['genre']
print(music_data.head(5))
input_data.head(5)

   age  gender   genre
0   20       1  HipHop
1   23       1  HipHop
2   25       1  HipHop
3   26       1   Jazzz
4   29       1   Jazzz

   age  gender
0   20       1
1   23       1
2   25       1
3   26       1
4   29       1

In [7]:
output_data.head(5)

0    HipHop
1    HipHop
2    HipHop
3     Jazzz
4     Jazzz
Name: genre, dtype: object

In [8]:
# create a model using machine_learning algorithm: using skitlearn library
from sklearn.tree import DecisionTreeClassifier

# create an instance/object for class:
model = DecisionTreeClassifier()
# apply model.
model.fit(input_data,output_data)
# predict the new datapoints:
predictions=model.predict([[21,1],[21,0]])
predictions

array(['HipHop', 'Dance'], dtype=object)

In [9]:
#Calculating the Accuracy:
# 70-80 % for training the data and remaining for testing.
# Instead of passing the predections we can pass the dataset(train data) and compare predections with actual data(y_test)
 
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(input_data, output_data, test_size=0.2)
model.fit(x_train,y_train)
predictions= model.predict(x_test)

score=accuracy_score(y_test, predictions)
score

0.5